/* reset css (for default) */
/* aka mostari.min.css */

* {
  margin: 0;
  padding: 0;
  font: inherit;

  text-decoration: none;
  color: inherit;
  box-sizing: border-box;

}

body {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;

  color: hsl(205, 20%, 32%);

}

img,
video,
svg,
picture {
  max-width: 100%;
  display: block;
}

a {
  font-weight: bold;
}

li {
  margin: 1rem;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;

}



h1 {
  font-size: 1.75rem;
  color: #1b2b32;
}

h2 {

  font-size: 1.625rem;
  color: #24333e;
}

h3 {

  font-size: 1.5rem;
  color: #2c3d49;
}

h4 {

  font-size: 1.375rem;
  color: #374956;
}

h5 {
  font-size: 1.25rem;
  color: #415462;
}

h6 {

  font-size: 1.125rem;
  color: #4d606d;
}



.title1 {
  font-size: 3.5rem;
  color: #1b2b32;
}

.title2 {
  font-size: 3rem;
  color: #1b2b32;
}

.title3 {
  font-size: 2.5rem;
  color: #1b2b32;
}


@media (max-width: 600px) {

  h1 {
    font-size: 1.625rem;
    color: #1b2b32;
  }

  h2 {

    font-size: 1.5rem;
    color: #24333e;
  }

  h3 {

    font-size: 1.375rem;
    color: #2c3d49;
  }

  h4 {

    font-size: 1.25rem;
    color: #374956;
  }

  h5 {
    font-size: 1.125rem;
    color: #415462;
  }

  h6 {

    font-size: 1rem;
    color: #4d606d;
  }

  body {
    font-size: 1rem;
  }

  .title1 {
    font-size: 2rem;
    color: #1b2b32;
  }

  .title2 {
    font-size: 1.75rem;
    color: #1b2b32;
  }

  .title3 {
    font-size: 1.5rem;
    color: #1b2b32;
  }


}


/* containers */



header,
main,
footer {

  width: min(110ch, 100%);
  text-align: justify;
  margin-inline: auto;
}

main {
  margin-bottom: 4rem;
}

footer {
  margin-bottom: 1rem;

}


.container1 {
  width: min(75ch, 100%);
  text-align: justify;
  margin-inline: auto;
  margin-bottom: 2rem;

}


@media (max-width: 600px) {


  
header,
main,
footer {

  width: min(110ch, 100% - 2.25rem);
  text-align: justify;
  margin-inline: auto;
}

.container1 {
  width: min(75ch, 100% - 2.75rem);
  text-align: justify;
  margin-inline: auto;
  margin-bottom: 2rem;

}
 
}






/* Original grid classes */
div[class^="col-"] {
  text-align: center;
  padding: 1rem 0;
  border: solid 1px;

}



.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  /* Default alignment */
}



.col-12 {
  flex: 0 0 100%;

}

.col-11 {
  flex: 0 0 calc(100% / 12 * 11);
  /* 11/12 */
}

.col-10 {
  flex: 0 0 calc(100% / 12 * 10)
}

.col-9 {
  flex: 0 0 calc(100% / 12 * 9)
}

.col-8 {
  flex: 0 0 calc(100% / 12 * 8)
}

.col-7 {
  flex: 0 0 calc(100% / 12 * 7)
}

.col-6 {
  flex: 0 0 calc(100% / 12 * 6)
}

.col-5 {
  flex: 0 0 calc(100% / 12 * 5)
}

.col-4 {
  flex: 0 0 calc(100% / 12 * 4)
}

.col-3 {
  flex: 0 0 calc(100% / 12 * 3)
}

.col-2 {
  flex: 0 0 calc(100% / 12 * 2)
}

.col-1 {
  flex: 0 0 calc(100% / 12 * 1);
}


@media (max-width: 600px) {


  .col-12 {
    flex: 0 0 100%;

  }

  .col-11 {
    flex: 0 0 100%;
  }

  .col-10 {
    flex: 0 0 100%;
  }

  .col-9 {
    flex: 0 0 100%;
  }

  .col-8 {
    flex: 0 0 100%;
  }

  .col-7 {
    flex: 0 0 100%;
  }

  .col-6 {
    flex: 0 0 100%;
  }

  .col-5 {
    flex: 0 0 100%;
  }

  .col-4 {
    flex: 0 0 100%;
  }

  .col-3 {
    flex: 0 0 100%;
  }

  .col-2 {
    flex: 0 0 100%;
  }

  .col-1 {
    flex: 0 0 100%;
  }

}


/* align rows */
/* !!!rows are aligned to the left by default!!! */


.row.col-right {
  justify-content: flex-end;
  /* Align columns to the right */
}


.row.col-center {
  justify-content: center;
  /* Align columns to the center */
}


.row.col-around {
  justify-content: space-around;
  /* Space around columns */
}

.row.col-between {
  justify-content: space-between;
  /* Space between columns */
}


/* align text only inside a div to the left, right, or middle */
/* text that is not part of a grid is aligned to the left by default */

.col-12.txt-left,
.col-11.txt-left,
.col-10.txt-left,
.col-9.txt-left,
.col-8.txt-left,
.col-7.txt-left,
.col-6.txt-left,
.col-5.txt-left,
.col-4.txt-left,
.col-3.txt-left,
.col-2.txt-left,
.col-1.txt-left {
  text-align: left;

}


.right {
  text-align: right;
}

.col-12.txt-right,
.col-11.txt-right,
.col-10.txt-right,
.col-9.txt-right,
.col-8.txt-right,
.col-7.txt-right,
.col-6.txt-right,
.col-5.txt-right,
.col-4.txt-right,
.col-3.txt-right,
.col-2.txt-right,
.col-1.txt-right {
  text-align: right;
}


.center {
  text-align: center;
}

/* Center text horizontally and vertically */

.mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;

}

.col-12.txt-mid,
.col-11.txt-mid,
.col-10.txt-mid,
.col-9.txt-mid,
.col-8.txt-mid,
.col-7.txt-mid,
.col-6.txt-mid,
.col-5.txt-mid,
.col-4.txt-mid,
.col-3.txt-mid,
.col-2.txt-mid,
.col-1.txt-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

/* spacing, and helpers */

/* top and bottom */
.my {
  margin-top: 2rem;
  margin-bottom: 2rem;
}



/* left and right */
.mx {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* margins of top */

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

.mt6 {
  margin-top: 6rem;
}

/* padding to right */














/* styling (colors, shadows, hovers, image sizes and buttons sizes and basic styles and animations) */






.pill {
  border-radius: 1rem;
}




/* buttons */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  padding: 0 2rem;
  color: #555;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
}



.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;

}

.btn1 {
  background-color: #24333e;
  color: white;
}

.btn1:hover {
  background-color: #fff;
}

/* backgrounds like images and hero color sections */











/* whole components like navs, cards, accordions, etc */




/* navbar */

nav,
nav ul {
  display: flex;

}

nav {
  justify-content: space-between;

}

nav ul {
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

}

.logo {
  font-size: 1.5rem;

}

@media (max-width: 600px) {


  .container1 .logo {
    font-size: 1rem;

  }

  .container1 a {
    font-weight: 500;

  }

  .container1 li {

    margin: 1 .5rem;
  }

  nav {
    justify-content: space-around;

  }
}



/* hero section */



.hero {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100svh - 5rem);
  margin: 0;

}


.hero h1 {

  margin-bottom: 2rem;
}

.primary-font {
  background-color: #24333e;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;

}

.border {
  border: 2px solid;
}

.hero .col-5 {
  border: none;
  text-align: justify;
}